:root{
    --accent: #f86c0c;
    --accent-light: #f46c38;
    --black: #161412;
    --light-black:#1e1e1e;
    --second-heading:#3d3d3f;
    --text-b: #898584;
    --white: #fff;
    --yellow: #c6fc42;

    --styled-accent-bg:linear-gradient(180deg,rgba(248, 103, 11, 1) 52%, rgba(22, 48, 49, 1) 99%, rgba(22, 48, 49, 1) 100%);
    --transition: all 0.2s linear;
}
body{
    font-family: Ubuntu Mono;
    background: var(--styled-accent-bg);
    background-repeat: no-repeat;
    color: var(--text-b);
}

/* header start*/

/* navbar start */

.active{
    color: var(--accent);
    transition: all 0.1s linear;
    background-color: var(--second-heading);
}


/* navbar end */



/* header end */


